<!DOCTYPE html>
<html>
  <head>
    <title>Форма</title>
  </head>
  <body>
    <form method="POST">
      <label for="key">key</label><br>
      <input type="text" id="key" name="key" /><br>
      <label for="base_w">base_w</label><br>
      <input type="text" id="base_w" name="base_w" /><br>
      <label for="place_w">place_w</label><br>
      <input type="text" id="plase_w" name="TESTplase_w" /><br>
      <label for="len">len (default=20)</label><br>
      <input type="text" id="len" name="len" /><br>
      <input type="submit" value="Отправить" />
    </form>
<p>{{info}}</p>
  </body>
</html>